.statistics {
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: x-large;
  padding-top: 15px;
}

.statList {
  list-style-type: none;
  display: flex;
  padding-left: 0px;
}

.item {
  outline: 1px solid rgb(151, 145, 145);
  background-color: rgb(230, 225, 225);
  width: 133px;
  height: 80px;
}

.label {
  display: block;
  color: rgb(114, 112, 112);
  margin-top: 20px;
}

.percentage {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: large;
}
